mixin features()
	section.features
		.wrapperPadding
			.features__body
				.features__item.feature
					.feature__header
						+svg('icon-1', 'feature__icon')
						h3.feature__title Check out my latest portfolio items
					.feature__content
						p.feature__txt Maecenas ipsum metus, semper hendrerit varius mattis, congue sit amet tellus. Aliquam ullamcorper dui sed magna posue re ut elementum enim rutrum. Nam mi erat, porta id ultrices nec, pellentesque vel nunc. Cras varius fermentum iaculis. Aenean sodales nibh non lectus tempor a interdum justo ultricies.
					a.button.feature__button(href="#") more
				.features__item.feature
					.feature__header
						+svg('icon-2', 'feature__icon')
						h3.feature__title Offer Top Notch Quality Work &amp; Services
					.feature__content
						p.feature__txt Maecenas ipsum metus, semper hendrerit varius mattis, congue sit amet tellus. Aliquam ullamcorper dui sed magna posue re ut elementum enim rutrum. Nam mi erat, porta id ultrices nec, pellentesque vel nunc. Cras varius fermentum iaculis. Aenean sodales nibh non lectus tempor a interdum justo ultricies.
					a.button.feature__button(href="#") more
				.features__item.feature
					.feature__header
						+svg('icon-3', 'feature__icon')
						h3.feature__title Follow Me on Twitter, Facebook &amp; Pinterest
					.feature__content
						p.feature__txt Maecenas ipsum metus, semper hendrerit varius mattis, congue sit amet tellus. Aliquam ullamcorper dui sed magna posue re ut elementum enim rutrum. Nam mi erat, porta id ultrices nec, pellentesque vel nunc. Cras varius fermentum iaculis. Aenean sodales nibh non lectus tempor a interdum justo ultricies.
					a.button.feature__button(href="#") more
				