mixin footer()
	footer.footer
		.footer__box
			.wrapper
				.footer__body
					.footer__block
						h3.footer__title About  Jetro
						p.footer__text Lorem ipsum dolor sit amet, malorum recteque reprehendunt ea vel. Urbanitas adolescens vim te, per at tritani aperiri. Adhuc invenire convenire his ea. Id mei vitae denique, in eam commodo veritus disputando. 
						p.footer__text Pro et erant delicata, eu vim essent imperdiet accommodare, dictas deseruisse ius an. Solet everti definitionem id ius, sonet oporteat cu vim.
					.footer__block
						h3.footer__title Twitter  Widget
						p.footer__text Lorem ipsum dolor sit amet, malorum recteque reprehendunt ea vel. Urbanitas adolescens vim te, per at tritani aperiri. Adhuc invenire convenire his ea. Id mei vitae denique, in eam commodo veritus disputando. 
					.footer__block
						h3.footer__title Contact  Us
						p.footer__text Lorem ipsum dolor sit amet, malorum recteque reprehendunt ea vel. Urbanitas adolescens vim te, per at tritani aperiri. 
						a.footer__link(href="#") information@jetro.com
						a.footer__link(href="#")  1.222.333.4444
						.footer__social.social
							a.social__item(href="#")
								.social__bg
									+webp('social__pic', 'facebook', 'png', 'facebook icon')
							a.social__item(href="#")
								.social__bg
									+webp('social__pic', 'twitter', 'png', 'twitter icon')
							a.social__item(href="#")
								.social__bg
									+webp('social__pic', 'email', 'png', 'email icon')
							a.social__item(href="#")
								.social__bg
									+webp('social__pic', 'rss', 'png', 'rss icon')
							a.social__item(href="#")
								.social__bg
									+webp('social__pic', 'vimeo', 'png', 'vimeo icon')

