mixin hero-slider()
	section.hero
		.wrapper
			.hero__body.hero__body_slidered
				.hero__slider.swiper-container
					.swiper-wrapper
						.hero__slide.swiper-slide
							.hero__bg
								+webp('hero__pic', 'bg', 'png', 'background')
							.hero__descr
								h2.descr__title Slide one
								p.descr__text Lorem ipsum dolor sit amet, malorum recteque reprehendunt ea vel. Urbanitas adolescens vim te, per at tritani aperiri. Adhuc invenire convenire his ea. 
						.hero__slide.swiper-slide
							.hero__bg
								+webp('hero__pic', 'img-1', 'png', 'background')
								.hero__descr
									h2.descr__title Slide one
									p.descr__text Lorem ipsum dolor sit amet, malorum recteque reprehendunt ea vel. Urbanitas adolescens vim te, per at tritani aperiri. Adhuc invenire convenire his ea. 
						.hero__slide.swiper-slide
							.hero__bg
								+webp('hero__pic', 'img-2', 'png', 'background')
								.hero__descr
									h2.descr__title Slide one
									p.descr__text Lorem ipsum dolor sit amet, malorum recteque reprehendunt ea vel. Urbanitas adolescens vim te, per at tritani aperiri. Adhuc invenire convenire his ea. 
						.hero__slide.swiper-slide
							.hero__bg
								+webp('hero__pic', 'img-3', 'png', 'background')
								.hero__descr
									h2.descr__title Slide one
									p.descr__text Lorem ipsum dolor sit amet, malorum recteque reprehendunt ea vel. Urbanitas adolescens vim te, per at tritani aperiri. Adhuc invenire convenire his ea. 
						.hero__slide.swiper-slide
							.hero__bg
								+webp('hero__pic', 'img-4', 'png', 'background')
								.hero__descr
									h2.descr__title Slide one
									p.descr__text Lorem ipsum dolor sit amet, malorum recteque reprehendunt ea vel. Urbanitas adolescens vim te, per at tritani aperiri. Adhuc invenire convenire his ea. 
						.hero__slide.swiper-slide
							.hero__bg
								+webp('hero__pic', 'img-5', 'png', 'background')
								.hero__descr
									h2.descr__title Slide one
									p.descr__text Lorem ipsum dolor sit amet, malorum recteque reprehendunt ea vel. Urbanitas adolescens vim te, per at tritani aperiri. Adhuc invenire convenire his ea. 
					

				.heroThumbs__slider.swiper-container
					.swiper-wrapper
						.heroThumbs__slide.swiper-slide
							.hero__bg
								+webp('hero__pic', 'bg', 'png', 'background')
						.heroThumbs__slide.swiper-slide
							.hero__bg
								+webp('hero__pic', 'img-1', 'png', 'background')
						.heroThumbs__slide.swiper-slide
							.hero__bg
								+webp('hero__pic', 'img-2', 'png', 'background')
						.heroThumbs__slide.swiper-slide
							.hero__bg
								+webp('hero__pic', 'img-3', 'png', 'background')
						.heroThumbs__slide.swiper-slide
							.hero__bg
								+webp('hero__pic', 'img-4', 'png', 'background')
						.heroThumbs__slide.swiper-slide
							.hero__bg
								+webp('hero__pic', 'img-5', 'png', 'background')
							