mixin recent()
	section.recent
		.wrapperPadding
			.recent__body
				.mini-title
					h3.mini-title__text recent works
					span.mini-title__decor
				.recent__works
					a.recent__work.work(href="#")
						.work__bg
							+webp('work__pic', 'img-1', 'png', 'recent work icon')
						.work__descr
							span.work__name Character  Design
							span.work__date June 15, 2012
					a.recent__work.work(href="#")
						.work__bg
							+webp('work__pic', 'img-2', 'png', 'recent work icon')
						.work__descr
							span.work__name Character  Design
							span.work__date June 15, 2012
					a.recent__work.work(href="#")
						.work__bg
							+webp('work__pic', 'img-3', 'png', 'recent work icon')
						.work__descr
							span.work__name Character  Design
							span.work__date June 15, 2012
					a.recent__work.work(href="#")
						.work__bg
							+webp('work__pic', 'img-5', 'png', 'recent work icon')
						.work__descr
							span.work__name Character  Design
							span.work__date June 15, 2012